th { text-align: left; }

table.details tr:nth-child(even) { background-color: #f2f2f2; }
table.details .val { padding: .1em 1em; }
table.details td, table.details th { text-align: center; padding: .2em 1em; }
