th { text-align: left; }

table.details tr:nth-child(even) { background-color: #f2f2f2; }
table.details .val { padding: .1em 1em; }
table.details td, table.details th { text-align: center; padding: .2em 1em; }

table.menu th, table.menu td { padding: .4em; }

.historic { background: #ddd; }

/* chart.js doesn't let you size the canvas,
 * but you can size the container it's in.
 */
.chart-container { width: 95%; height: 300px !important; }

/* A ul displayed as buttons for choosing time periods */
.buttons li a {
  text-decoration: none;
  color: black;
  display: block;
}

.buttons li {
  float: left;
  list-style: none;
  text-align: center;
  background-color: #bdf;
  margin-right: 20px;
  width: 9em;
  line-height: 1.7em;
  border-radius: 1em;
  border-width: 1px;
  border-style: outset;
  border-color: black;
}

.buttons li:hover {
  text-decoration: none;
  background-color: #bff;
}

.buttons li.pushed {
  background-color: #eff;
}

.buttons:after {
  clear:both;
  content:"";
  display: table;
}

.error { color: red; }
