
  <div class="chart-container">
    <canvas id="{{ key }}Chart" class="plot"></canvas>
  </div>
  <script>

// With moment.js you can also do things like:
// const startDate = moment().subtract(1, 'd');

const {{ key }}ctx = document.querySelector('#{{ key }}Chart').getContext('2d');

const {{ key }}Chart = new Chart({{ key }}ctx, {
    data: {
        labels: timeLabels,
        datasets: [
            // First dataset displays on top
            {% if key in hourlydata %}
            {
                type: 'line',
                label: "{{ key }}",
                data: [
	            {% for item in hourlydata[key] %}
                        {% if item == None %}
                            null,
                        {% else %}
                            {{ item }},
                        {% endif %}
                    {% endfor %}
                ],
                //pointStyle: 'rect',
                pointRadius: 0,
                // borderColor: the color of the line
                borderColor: "red",

                // backgroundColor: coloring in each circle, if using circles
                // backgroundColor: "blue",
            },
            {% endif %}
          ],
     },
    options: {
      scales: {
        x: {
          type: 'timeseries',
          time: {
            unit: 'day',
            displayFormats: {
              hour: 'D-M-Y'         // could append  H:00:00
            },
            tooltipFormat: 'D-M-Y'  // <-- same format for tooltip
          }
        },
        y: {
          min: {{ hourlydata['%s_min' % key] }},
          max: {{ hourlydata['%s_max' % key] }}
        }
      },

      plugins: {
        legend: {
          labels: {
            usePointStyle: true,
            pointStyle: 'line'
          }
        }
      },

      // Next two options are needed in order to size .chart-container in CSS
      responsive: true,
      maintainAspectRatio: false
    }
});

    </script>
