<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>

  <link rel="stylesheet" type="text/css" href="/basic.css" />

  <script src="/chart.min.js"></script>
  <script src="/moment.min.js"></script>
  <script src="/chartjs-adapter-moment.js"></script>
</head>

<body>
  <h1>Weather data for {{ stationname }}</h1>
  <p>
  (Last report: {{ lastreport.strftime("%Y-%m-%d %H:%M") }})

  <noscript><b>Please enable JavaScript to see plots.</b></noscript>

  <h2>Daily Rain</h2>
  {% include "rainplot.html" %}

// Only need one set of hourly time labels,
// which will be shared across all hourly plots.
  <script>
    var timeLabels = [
        {% for t in hourlydata['unixtimes'] %}
        new Date( {{ t }} ),
        {% endfor %}
    ]
  </script>

  {% for key, value in hourlydata.items() if key != 't' and key != 'unixtimes'
     and not key.endswith('min') and not key.endswith('max') %}
    <h2>Hourly {{ key.replace('_', ' ').title() }}</h2>
    {% include "hourlyplot.html" %}
  {% endfor %}

<hr>
<a href="/stations">Summary</a> |
<a href="/details/{{ stationname }}">{{ stationname }} Details</a> |
<a href="/weekly/{{ stationname }}">{{ stationname }} Weekly Summary</a> |
<a href="/details/all">All Station Details</a> |
<a href="/">Menu</a>

</body>
</html>
