<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>

  <link rel="stylesheet" type="text/css" href="/basic.css" />

  <script src="/chart.min.js"></script>
  <script src="/moment.min.js"></script>
  <script src="/chartjs-adapter-moment.js"></script>
</head>

<body>
  <h1>{{ title }}</h1>

  <noscript><b>Please enable JavaScript to see plots.</b></noscript>

  {% include "rainplot.html" %}

</body>
</html>
