
  <div class="chart-container">
    <canvas id="rainChart" class="plot"></canvas>
  </div>
  <script>

// With moment.js you can also do things like:
// const startDate = moment().subtract(1, 'd');

const rainTimeLabels = [
{% for t in dailydata['unixtimes'] %}
     new Date( {{ t }} ),
{% endfor %}
];

// console.log("labels:", rainTimeLabels);

const rainctx = document.querySelector('#rainChart').getContext('2d');

const rainChart = new Chart(rainctx, {
    data: {
        labels: rainTimeLabels,
        datasets: [
            // First dataset displays on top
            {% if 'rain_event' in dailydata %}
            {
                type: 'line',
                label: "Rain Event",
                data: [
	            {% for item in dailydata['rain_event'] %}
                    {{ item }} / 2.,
                    {% endfor %}
                ],
                borderColor: "red",
                fill: false
            },
            {% endif %}
            {% if 'rain_daily' in dailydata %}
            {
                type: 'bar',
                label: "Daily Rain",
                data: [
	            {% for item in dailydata['rain_daily'] %}
                        {{ item }},
                    {% endfor %}
                ],
                // The doc says you can set borderColor for a bar chart,
                // but it doesn't work for me.
                borderColor: "black",
                backgroundColor: "blue",
            },
            {% endif %}
          ],
     },
    options: {
      scales: {
        x: {
          type: 'timeseries',
          time: {
            unit: 'day',
            displayFormats: {
              hour: 'D-M-Y'         // append  H:00:00 for datetimes
            },
            tooltipFormat: 'D-M-Y'  // <-- same format for tooltip
          }
        },
        y: {
          min: 0,
          max: {{ dailydata['rain_daily_max'] }}
        }
      },
      // Next two options are needed in order for .chart-container CSS to work
      responsive: true,
      maintainAspectRatio: false
    }
  });

    </script>
